.scoop {
  width: 100px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  margin-bottom: -45px;
  &::after {
    content: "";
    width: 120px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    left: -10px;
    border-radius: 100%;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &:hover {
    transform: scale(1.1);
  }
}
